body {
    font-family: Arial, sans-serif;
    background-color: #f1e5d4;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Para cobrir a altura da viewport */
}

.content-container {
    flex: 1; /* Para ocupar o espaço restante vertical */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#pedido {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input[type="text"],
input[type="tel"],
input[type="radio"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radio-group {
    margin-bottom: 10px;
}

.radio-group .form-check {
    margin-right: 20px;
}

.separator-line {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    height: 1px;
    background-color: #ccc;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #c58f49;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button#adicionarPizzaBtn{
    background-color: #e9c13f;
}

button#adicionarPizzaBtn:hover {
    background-color: #c9a42d;
}

input[type="submit"]:hover {
    background-color: #996e35;
}

.alert {
    margin-top: 20px;
    padding: 12px;
    background-color: #f44336;
    color: white;
    border-radius: 4px;
}

.alert-success {
    background-color: #4CAF50;
}

.alert-danger {
    background-color: #f44336;
}

.alert-warning {
    background-color: #ff9800;
}

#valorTotalLabel {
    font-weight: bold;
  }
  
#ValorTotal {
font-weight: bold;
}
