body {
  font-family: Arial, sans-serif;
  background-color: #f1e5d4;
  color: #333;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Para cobrir a altura da viewport */
}

.header {
  background-color: #db8840;
  color: white;
  padding: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.titulo-pizzas {
  font-family: Arial, sans-serif;
  color: #c54234;
  font-weight: bold;
}

.pizza-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.footer {
  background-color: #3b3b3b;
  color: white;
  padding: 5px 0 15px 0;
  text-align: center;
  margin-top: auto;
  max-height: 130px;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin-right: 10px;
}

.social-links a {
  color: white;
  text-decoration: none;
}

.highlight {
  color: #c0392b;
  font-weight: bold;
}

.pizza-img{
  height: 400px;
  width: 600px;
 }

.underline {
  text-decoration: underline;
}
